h1 {
    text-transform: uppercase;
    font-size: 100px;
}

.about-page-container {
    width: 100%;
    margin-top: 5em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    color: black;
}

@media screen and (max-width: 767px) {
  .about-page-container {
    margin-top: 3em;
    margin-bottom: 5em;
  }
}

.decor {
  width: 100%;
}

.decor-bottom {
  transform: scaleX(-1) scaleY(-1);
}

.design {
  width: 15%;
  margin-top: -1em;
  opacity: 0.9;
}

.about-page-text-wrap {
    width: 100%;
}

.about-page-text-wrap {
  /* To center the content of this wrapper */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  height: 100%; /* Take full height of the parent container */
  color: black; 
}

.about-page-text-wrap p {
  margin-top: 2em;
  color: black;
}

