.contact-page-container {
  margin-top: 1em;
  height: 100%;      /* Set the height of the div */
  text-align: center;
  h1 {
    text-align: center;
  }
}

.contact-page-text-wrap {
  font-size: 2em;
}

.contact-social-links {
    display: flex;        /* Turns flexbox on for this unordered list */
    justify-content: center;
    align-items: center;
  gap: calc(100vw * var(--gap-as-ratio-of-width));
  margin: 1em 0;
}

.contact-social-links img {
  width: 2em; /* Width of icons */
  height: auto; /* Height of icons */
  filter: invert(1);
  background-color: white;
  border: solid 2px white;
}

.contact-social-links img:hover {
  filter: none; /* Remove filter effect */
  background-color: var(--accent-color); /* Set background color to accent color */
}

#ra-logo {
}

@media screen and (max-width: 767px) {
  .contact-page-container {
    margin-top: 3em;
    margin-bottom: 5em;
  }
  .contact-page-text-wrap {
    margin-top: 1em;
    font-size: 1.5em;
  }
  .contact-social-links {
    justify-content: space-between;
  }
}


