.contact-page-container {
  margin: 5em calc(100% * var(--margin-as-ratio-of-width));
  margin: 5em 0;
  height: 100%;      /* Set the height of the div */
  text-align: center;
}

.contact-page-text-wrap {
  margin-top: 1em;
}

/*
.contact-page-text-wrap {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 1em;
  background-image: url('../assets/pfp.jpeg'); 
  background-repeat: repeat;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
}

.contact-page-text-wrap div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
*/
