.dao-page-container {
    /*margin: 5em calc(100% * var(--margin-as-ratio-of-width));*/
    display: flex;
    flex-direction: column;
}

.dao-page-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dao-page-container p {
  color: black;
}

.dao-page-container br {
  margin-bottom: 1em;
}

.dao-page-text-wrap {
    width: 100%;
}

.dao-page-text-wrap p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.dao-page-container h2 {
  font-size: 3em;
}

@media screen and (max-width: 767px) {
  .dao-page-title-container {
    margin-top: 1em;
    flex-direction: column;
  }
  .dao-page-title-container h1 {
    font-size: 2em;
  }
  .dao-page-container h2 {
    font-size: 2em;
  }
}

