.event-page-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Take up the full viewport height */
}

.spreadsheet-container {
  margin: calc(100% * var(--margin-as-ratio-of-width));
  overflow: auto;
  min-height: 0;
  max-height: 70vh;
  border: 1px solid black; 
}

