.event-page-container {
  margin: calc(100% * var(--margin-as-ratio-of-width));
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.buttons button {
  margin-right: 1em;
  font-size: 2em;
  font-weight: 100;
}

.button-selected {
  font-weight: 400 !important;
}

.spreadsheet-container {
  overflow: auto;
  min-height: 0;
  max-height: 70vh;
  width: 100%;
  border: 1px solid black; 
}

