.home-container {
  width: 100%;
}

.content-container {
  position: relative;
  margin-top: 50vh;
  overflow-y: hidden;
  margin-left: calc(100vw * var(--margin-as-ratio-of-width));
  margin-right: calc(100vw * var(--margin-as-ratio-of-width));
}

.center-vertically {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 95vh; 
}


.layers-container-1 {
  overflow-y: hidden;
  width: 100%;
  display: flex;
  gap: calc(100vw * var(--gap-as-ratio-of-width));
  align-items: flex-start;
  z-index: 3;
}

.layers-container-2 {
  position: absolute;
  top: 0;
  overflow-y: hidden;
  width: 26.6vw;
  margin-left: 67.1vw;
}

