.home-container-mobile {
  width: 100%;
  margin-left: calc(100vw * var(--margin-as-ratio-of-width));
  margin-right: calc(100vw * var(--margin-as-ratio-of-width));
}

.title-text-mobile {
  position: fixed;
  /* ensure pointer event passes through to elements underneath */
  pointer-events: none;
  filter: invert(1);
}

 .title-text-mobile.hawk-svg,
 .title-text-mobile.child-svg {
  mix-blend-mode: difference;
  width: 90%; 
}

.title-text-mobile.hawk-svg {
  top: calc(50lvh - 270vw * var(--letter-height-as-ratio-of-width));
}

.title-text-mobile.child-svg {
  top: calc(50lvh - 50vw * var(--letter-height-as-ratio-of-width));
}

.title-text-mobile.diy-svg {
  top: calc(50lvh + 170vw * var(--letter-height-as-ratio-of-width));
  right: 5%;
  width: calc(49lvw);
  filter: invert(0);
}


