.main {
  background-color: white;
}

.hidden { 
  display: none;
}

.title-svg {
    display: block; /* Remove inline behavior */
    position: fixed;
    top: calc(50vh - 0.85*var(--vertical-midpoint-as-ratio-of-width) * 100vw);
    left: 0;
    width: 100%;
    z-index: 99;
    mix-blend-mode: difference;
}

.title-svg img {
  width: 100%;
  mix-blend-mode: difference;
}
