.home-container.mobile {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
}

/* .main-menu-open .home-container.mobile {
  width: calc(100lvw - var(--mobile-navbar-width));
} */

.title-container.mobile {
  position: fixed;
  width: 80%;
  margin-left: 10%;
  top: 50lvh;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(100vw * var(--gap-as-ratio-of-width));
  padding: 0px;
  mix-blend-mode: difference;
}

/* .main-menu-open .home-container.mobile .title-container.mobile {
  width: calc(100lvw - var(--mobile-navbar-width));
  margin-left: 0;
} */

.title-text-mobile {
  /* ensure pointer event passes through to elements underneath */
  pointer-events: none;
  filter: invert(1);
  mix-blend-mode: difference;
}

.title-text-mobile.hawk-svg,
.title-text-mobile.child-svg {
  width: 100%;
}

.play-and-diy {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title-text-mobile.diy-svg {
  width: 50.6%;
}

.audio-play-button {
  flex: 1;
  color: #fff;
}

.audio-play-button:active {
  background-color: white;
}

.audio-play-button-icon {
  filter: invert(1);
  width: 46%;
}

.footer-logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logos img {
  width: 40%;
  margin-bottom: 15%;
}
