.home-container {
    /*min-width: 1000px; TODO!!! */
}

#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 45px;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
  pointer-events: none; 
  font-size: 24px;
  color: black;
  z-index: 9999;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
  transition: transform 0.1s ease-out; /* Smooth transition */
}

#custom-cursor .arrows {
  font-size: 24px;
}

#custom-cursor .scroll-text {
  font-size: 24px;
}

.background-noise {
  position: fixed;
  overflow: hidden;
  height: calc(100vh - var(--navbar-height));
  width: calc(100vw - 200vw * var(--margin-as-ratio-of-width) - 0.7vw);
  background:
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%)
      60% 60% / 200vw 200vh,
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%)
      40% 40% / 200vw 200vh;
  background-blend-mode: difference;
  animation: noise .2s infinite alternate;
  z-index: 0; /* Ensure it is below the overlay */
}

.background-noise::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Adjust opacity as needed */
  pointer-events: none; /* Ensure the overlay does not block interactions */
  z-index: 1; /* Ensure it is above the noise background */
}

@keyframes noise {
  100% {background-position: 50% 0, 60% 50%}
}

@media (max-width: 768px) {
  .background-noise {
    display: none; /* hides the background noise on small screens */
  }
}

img {
  width: 100%;
}

.viewport {
  display: flex;
  gap: calc(var(--gap-as-ratio-of-width));
  top: calc(var(--navbar-height));
  top: 4%;
  right: 0;
  /*overflow: hidden;*/
  width: 100%;
}

.left-container, .right-container {
    flex: 1;
}

.right-container {
    display: flex;
    align-items: flex-start;
}

.right-container-media {
  transform: translateY(-100% + 100vh);
}

/* ==========================================================================
 * HAWKCHILD DIY Title Text
 * ==========================================================================
 * Handles styling for the HAWKCHILD DIY title text
 * 
 * Notes:
 * - "HAWK", "CHILD", and "DIY" are seperate SVGs. This is to enable different
 *   z-indices for each of them.
 * ========================================================================== */

.title-text {
  position: fixed;
  top: calc(50vh - 100vw * var(--letter-height-as-ratio-of-width) - 100vw * 0.5 * var(--line-width-ratio));
  filter: invert(100%);
  /* ensure pointer event passes through to elements underneath */
  pointer-events: none;
  background-blend-mode: difference;
  mix-blend-mode: difference;
}

.title-text.hawk-svg,
.title-text.child-svg {
  width: calc(49.4vw); /* TODO: CHECK !!! */
}

.title-text.child-svg,
.title-text.diy-svg { 
}

.viewport .title-text.diy-svg {
  top: calc(50vh + 100vw * 0.5 * var(--line-width-ratio));
  right: 0;
  width: 26.65%;
}

.title-text.hawk-svg {
  left: 0;
}

.title-text.child-svg {
  right: 0;
}

/* ==========================================================================
 * Logo Marquee
 * ==========================================================================
 * Handles styling for the scrolling logo marquee
 * 
 * Notes:
 * - ...
 * ========================================================================== */

.marquee-container {
  position: fixed;
  /* `top` is same as "DIY" svg */
  top: calc(50vh + 100vw * 0.5 * var(--line-width-ratio));
  width: 72.7vw; /*TODO: make exact!!*/
  right: 26.4vw;
  height: calc(100vw * var(--letter-height-as-ratio-of-width) - 1px);
  /* ensure pointer event passes through to elements underneath */
  background-color: white;
  opacity: 90%;
}

.viewport .simple-footer {
  position: fixed;
  margin-top: 1em;
  height: 30px;
  margin-bottom: 5px;
  filter: invert(1);
}

@media (max-width: 768px) {
}

/* LENIS */

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
