.background-noise {
  position: fixed;
  height: 100vh;
  width: calc(100vw - 215vw * var(--margin-as-ratio-of-width)); /* TODO: why isn't it exact ??*/
  left: 0;
  margin-left: calc(100vw * var(--margin-as-ratio-of-width));
  margin-right: calc(100vw * var(--margin-as-ratio-of-width));
  background: 
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%)
      60% 60% / 200vw 200vh,
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%)
      40% 40% / 200vw 200vh;
   background-blend-mode: difference;
   animation: noise .2s infinite alternate;
   z-index: 0;
}

@keyframes noise {
  100% {background-position: 50% 0, 60% 50%}
}

.home-container3 {
  position: relative;
  overflow-y: hidden;
  width: 100%;
  margin-left: calc(100vw * var(--margin-as-ratio-of-width));
  margin-right: calc(100vw * var(--margin-as-ratio-of-width));
  z-index: 1;
  background-color: white;
  opacity: 95%;
}

.title-text {
  position: fixed;
  top: 30vh; /* TODO: figure out better way to do this */
  filter: invert(100%);
  background-blend-mode: difference;
  mix-blend-mode: difference;
}

.title-text.diy-svg {
  position: fixed;
  top: calc(30vh + 100vw * var(--letter-height-as-ratio-of-width) + 100vw * var(--line-width-ratio));
  width: 26.65%;
  right: 0;
}

.title-text.diy-svg img {
  width: 100%;
}

.title-text.hawk-svg,
.title-text.child-svg {
  width: calc(50vw - 100vw * var(--gap-as-ratio-of-width));
}

.title-text.hawk-svg {
  position: fixed;
  left: 0;
}


.title-text.child-svg {
  right: 0;
}

.title-text.hawk-svg img,
.title-text.child-svg img {
  width: 100%;
}

.right-half-column {
  float: right;
  width: 23.8%;
  right: 0;
}

.right-column {
  position: absolute;
  top: 0;
  margin-left: 44.6vw; /* TODO: make programmatic/exact */
  width: 49.5%;
  background-blend-mode: difference;
  mix-blend-mode: difference;
}

.left-full-column {
  width: 43.7vw;  /* TODO: make programmatic/exact */
  height: auto;
  margin-top: 50vh;
}

.marquee-container {
  position: fixed;
  top: calc(30vh + 100vw * var(--letter-height-as-ratio-of-width) + 100vw * var(--line-width-ratio));
  right: 26.7%;
  height: calc(100vw * var(--letter-height-as-ratio-of-width));
}

.center-vertically {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 95vh; 
}
