.audio-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.9);
  width: 100%;
  font-family: "SourceCodePro", monospace;
}

.audio-now-playing {
  width: 100%;
  display: flex;
  gap: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.audio-now-playing.playing.audio-marquee::before {
  content: "";
  width: 0.5em;
  height: 1em;
  background: linear-gradient(to right, white, transparent);
  position: absolute; /* Position it absolutely */
  z-index: 1;
}

.audio-marquee {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.audio-marquee span {
  will-change: transform;
  transform: translateX(0);
  white-space: nowrap;
  animation: none;
}

.audio-marquee.playing span {
  animation: marquee 24s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
