/* Main styles */
:root {
  --primary-color: rgb(24, 24, 24);
  --primary-background-color: rgb(221, 221, 221);
  --secondary-color: rgb(75, 75, 75);
  --secondary-background-color: rgb(255, 255, 255);
  --highlight-color: rgb(255, 85, 1);
  --box-shadow-color: rgb(201, 201, 201);
  --disabled-button-color: rgb(175, 175, 175);
  --border-radius: 1rem;
}

/* Main Container */
.sc-player-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* Audio player */
.sc-audio-player {
  position: absolute;
  width: 100%;
  display: flex;
  background-color: var(--secondary-background-color);
}

/* Play button */
.sc-play-button {
  min-width: 10rem;
  min-height: 10rem;

  /* Reset default button styles */
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

/* Main player body, which includes title, waveform, volume and timecode */
.sc-player-body {
  width: 100%;
  padding: 0 1rem;
}

/* Audio track title */
.sc-track-title {
  width: 100%;
  font-weight: 300;
}

/* Main waveform */
.sc-waveform {
  width: 100%;
  min-height: 8rem;
  padding: 0.5rem 0;
  mix-blend-mode: difference;
}

/* Controls include volume mute/unmute, volume slider and timecode */
.sc-controls {
  display: flex;
  justify-content: space-between;
}

/* Timecode */
.sc-timecode {
  color: var(--secondary-color);
}

/* Volume */
.sc-volume {
  display: flex;
  align-items: center;
}
.sc-volume-icon {
  cursor: pointer;
}
.sc-volume-slider {
  margin: 0 1rem;
  cursor: pointer;

  width: 100%;
  outline: none;
  -webkit-appearance: none;
  background: transparent;
}

/* Custom volume slider */
.sc-volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  border-radius: 50%;
  background: var(--highlight-color);
  margin-top: -0.6rem;
}
.sc-volume-slider::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  border-radius: 50%;
  background: var(--highlight-color);
}
.sc-volume-slider::-ms-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  border-radius: 50%;
  background: var(--highlight-color);
}
.sc-volume-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.25rem;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}
.sc-volume-slider::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;

  width: 100%;
  height: 0.25rem;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

/* Muted/disabled volume slider */
.sc-volume-slider[disabled] {
  cursor: not-allowed;
}
.sc-volume-slider[disabled]::-webkit-slider-thumb {
  background-color: var(--disabled-button-color);
}
.sc-volume-slider[disabled]::-moz-range-thumb {
  background-color: var(--disabled-button-color);
}
.sc-volume-slider[disabled]::-ms-thumb {
  background-color: var(--disabled-button-color);
}
.sc-volume-slider[disabled]::-webkit-slider-runnable-track {
  background-color: var(--disabled-button-color);
}
.sc-volume-slider[disabled]::-ms-track {
  background-color: var(--disabled-button-color);
}

#waveform {
      cursor: pointer;
      position: relative;
    }
    #hover {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      pointer-events: none;
      height: 100%;
      width: 0;
      mix-blend-mode: overlay;
      background: rgba(255, 255, 255, 0.5);
      opacity: 0;
      transition: opacity 0.2s ease;
    }
    #waveform:hover #hover {
      opacity: 1;
    }
    #time,
    #duration {
      position: absolute;
      z-index: 11;
      top: 50%;
      margin-top: -1px;
      transform: translateY(-50%);
      font-size: 16px;
      background: rgba(0, 0, 0, 0.75);
      padding: 2px;
      color: #ddd;
    }
    #time {
      left: 0;
    }
    #duration {
      right: 0;
    }
