/* Main styles */
:root {
  --secondary-color: rgb(75, 75, 75);
  --secondary-background-color: rgb(255, 255, 255);
  --highlight-color: black;
  --box-shadow-color: rgb(201, 201, 201);
  --disabled-button-color: rgb(175, 175, 175);
  --border-radius: 1rem;
}

/* Main Container */
.sc-player-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Audio player */
.sc-audio-player {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  display: flex;
}

.sc-top-row, .sc-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.sc-song-info {
  flex-grow: 1;
  text-align: left;
}

/* Play button */
.sc-play-button {
  min-width: 3rem;
  min-height: 3rem;

  /* Reset default button styles */
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  display: grid;
  place-items: center;
}

.sc-play-button img {
  width: 1.5em;
}

/* Main player body, which includes title, waveform, volume and timecode */
/*
.sc-player-body {
  width: 100%;
  padding: 0 1rem;
}
*/

/* Audio track title */
.sc-track-title {
  width: 100%;
  font-size: 24px;
  font-weight: 300;
}

.sc-track-artist {
  width: 100%;
  font-size: 20px;
  font-weight: 300;
}

/* Main waveform */
.sc-waveform {
  width: 100%;
  min-height: 5rem;
  padding: 0.5rem 0;
}

/* Controls include volume mute/unmute, volume slider and timecode */
.sc-controls {
  display: flex;
  justify-content: space-between;
}

/* Timecode */
.sc-timecode {
  color: var(--secondary-color);
}

/* Volume */
.sc-volume {
  display: flex;
  align-items: center;
}
.sc-volume-icon {
  height: 1.5em;
  width: auto;
  cursor: pointer;
}
.sc-volume-slider {
  margin: 0 1rem;
  cursor: pointer;

  width: 100%;
  outline: none;
  -webkit-appearance: none;
  background: transparent;
}

/* Custom volume slider */
.sc-volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  border-radius: 50%;
  background: var(--highlight-color);
  margin-top: -0.6rem;
}
.sc-volume-slider::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  border-radius: 50%;
  background: var(--highlight-color);
}
.sc-volume-slider::-ms-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  border-radius: 50%;
  background: var(--highlight-color);
}
.sc-volume-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.25rem;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}
.sc-volume-slider::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;

  width: 100%;
  height: 0.25rem;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

/* Muted/disabled volume slider */
.sc-volume-slider[disabled] {
  cursor: not-allowed;
}
.sc-volume-slider[disabled]::-webkit-slider-thumb {
  background-color: var(--disabled-button-color);
}
.sc-volume-slider[disabled]::-moz-range-thumb {
  background-color: var(--disabled-button-color);
}
.sc-volume-slider[disabled]::-ms-thumb {
  background-color: var(--disabled-button-color);
}
.sc-volume-slider[disabled]::-webkit-slider-runnable-track {
  background-color: var(--disabled-button-color);
}
.sc-volume-slider[disabled]::-ms-track {
  background-color: var(--disabled-button-color);
}

#waveform {
      cursor: pointer;
      position: relative;
    }
    #time,
    #duration {
      position: absolute;
      z-index: 11;
      top: 50%;
      margin-top: -1px;
      transform: translateY(-50%);
      font-size: 16px;
      background: rgba(255, 255, 255, 0.6);
      padding: 2px;
      color: rgba(0, 0, 0, 0.9);
    }
    #time {
      left: 0;
    }
    #duration {
      right: 0;
    }
