.title-and-marquee-container {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(100vw * var(--line-width-ratio));
  background-color: red;
}

.hawkchild-text {
  display: flex;
  gap: calc(100vw * var(--gap-as-ratio-of-width));
}

.title-and-marquee-container .title-text {
  width: 100%;
}

.diy-and-marquee {
  display: flex;
}

#hawk-svg {
  width: 100%;
  filter: invert(100%);
}

#child-svg {
  width: 100%;
  filter: invert(100%);
}

#diy-svg {
  flex: 0 0 26.74%;
  filter: invert(100%);
}
