.content-marquee {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  gap: 50vh;
}

.content-marquee .regular-img {
      border: 1px solid var(--light-blue-accent);
  filter: invert(1);
}

.animate-up {
  /*animation-name: marqueeUp;*/
}

.animate-down {
  /*animation-name: marqueeDown;*/
}

.animate-left {
  /*animation-name: marqueeLeft;*/
}

.animate-right {
  /*animation-name: marqueeRight;*/
}

@keyframes marqueeUp {
  0% {
    transform: translateY(25vw);
  }
  100% {
    transform: translateY(calc(-100% + 25vw));
  }
}

@keyframes marqueeDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes marqueeLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marqueeRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
