.content-layer {
  width: 100%;
  overflow: hidden;
}

.content-layer img,video {
  width: 100%;
}

.content-layer1 img {
  width: 99%;
  height: auto;
  box-shadow: 1px 2px 7px 0px black;
}

.content-layer2 {

}

.content-layer3 {
}

#evian-passport {
  width: 50%;
}

#oli-xl-doss-video-poster {
  filter: invert(100%);
}

#tp-decade-video-poster {
  filter: invert(100%);
}

#taleb-video-poster {
  filter: invert(100%);
}
