.content-layer {
  width: 100%;
  overflow: hidden;
  /* Base styles for all layers */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content-layer img,video {
  width: 99%;
  height: auto;
  box-shadow: 1px 2px 7px 0px black;
}

.content-layer {
  gap: 75vh;
}

.content-layer1 {
  transition: transform 1s ease-out;
}

.content-layer2 {
}

.content-layer3 {
  gap: 50vh;
}

#evian-passport {
  width: 50%;
}

#oli-xl-doss-video-poster {
  filter: invert(100%);
}
