.content-marquee {
  overflow: hidden;
  position: relative;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animate-up {
  animation-name: marqueeUp;
}

.animate-down {
  animation-name: marqueeDown;
}

@keyframes marqueeUp {
  0% {
    transform: translateY(75vw);
  }
  100% {
    transform: translateY(calc(-100% + 75vw));
  }
}

@keyframes marqueeDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

