.footer-container {
  margin: 0 calc(100vw * var(--margin-as-ratio-of-width));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(100vw * var(--gap-as-ratio-of-width));
  padding: 0px;
  background-color: white;
  color: black;
  border-top: 1px solid;
  margin-top: 3em;
}

.footer-container h4 {
  font-size: 0.75em;
}

.footer-container a {
  font-family: 'SourceCodePro', monospace;
  font-weight: 300;
  color: white;
  color: black;
  text-decoration-thickness: 1px;
}

.footer-container a:hover {
    color: var(--light-blue-accent); /* Darker shade on hover, adjust as needed */
}

.footer-back-button, .footer-sitemap, .footer-socials, .footer-credits, .footer-rights {
  display: flex;
  gap: calc(100vw * var(--gap-as-ratio-of-width));
  width: 100%;
}

.footer-back-button h4, .footer-sitemap h4, .footer-socials h4, .footer-credits h4 {
  width: 50%;
  text-align: right;
}

.footer-back-button ul, .footer-sitemap ul, .footer-socials ul, .footer-credits ul {
  width: 50%;
}

.footer-back-button {
  margin-top: 1em;
}

.footer-credits h4 br::after {
  content: "";
  display: block;
  margin-top: -10px; /* Adjust this value as needed */
}


.footer-container h2 a {
  text-decoration-thickness: 2px;
}


.footer-container li {
  text-transform: lowercase;
  font-size: 0.75em;
  font-weight: 300;
  padding: 0px 0;  /* Adds padding above and below each item */
  list-style-type: none; /* Removes default bullet points */
    padding-left: 0px; /* Removes default padding */
  margin-left: -2em;
}


/*
.footer-container li::before {
    content: "→ ";
}

.footer-container .footer-back-button li::before {
  content: "";
}
*/


.footer-social-links {
    display: flex;        /* Turns flexbox on for this unordered list */
    justify-content: center;
    align-items: center;
  gap: calc(100vw * var(--gap-as-ratio-of-width));
  margin: 0.5em 0;
}

.footer-social-links img {
    width: 2em; /* Width of icons */
    height: auto; /* Height of icons */
  filter: invert(0.1);
}

.footer-social-links a:hover img {
    fill: #555; /* SVG color on hover */
    filter: invert(0.5);
}

.footer-logos {
  width: 15em;
  display: flex; 
  flex-direction: column;
  gap: 0;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.footer-logo {
  width: 50%;
  filter: invert(0.3);
}

.glasgow-logo {
  margin-bottom: 0.5em;
}

/*
.footer-rights h4:nth-of-type(2) {
    text-align: left;
}
*/

.footer-rights {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.footer-logo-text {
  grid-area: bottom;
}

.footer-logo-text {
    width: 100%;
}

.footer-logo-text .simple-footer {
  margin-top: 1em;
  height: 30px;
  margin-left: 0;
  margin-bottom: 5px;
  width: 100%;
  filter: invert(1);
}
