footer {
  width: 100%;
  height: calc(50vh - 7em);
  padding: 40px;
  padding-bottom: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: black;
  font-family: Helvetica, Arial, sans-serif; 
  font-weight: 300;
}

p {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  z-index: 100; /* on homepage, title has high z-index */
}

.row1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-text {
  width: 45%; 
}

.logo-img {
  width: 30%;
}

.links-container {
  display: flex;
  gap: 2vw;
}

.links-container a {
  font-family: Helvetica, Arial, sans-serif; 
  font-weight: 300;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration-thickness: 1px;
  color: white;
}

.links-container a:hover {
    cursor: crosshair;
    color: #b0d0ef;
    text-decoration: line-through 1px;
    text-decoration-color: black;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.socials-container {
  display: flex;
  flex-direction: column;
}

.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#back-button {
  color: white;
  font-size: 1.5em;
  text-align: center;
}

.row4 {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-top: -1em;
  margin-right: 1.1%;
  padding: 0;
}

.row4 p {
  color: white;
  font-size: 1em;
  font-family: 'Cutive Mono', monospace;
}

.glasgow-info {
  width: 550px;
  display: flex;
  flex-direction: column;
  font-size: 1.1vw;
}

.glasgow-info div {
  display: flex;
  justify-content: space-between;
}

#copyright-year {
  font-size: 3.6vw;
}

.row3 p {
  text-align: right;
  margin-top: -2em;
  margin-right: 1.4%;
  font-family: 'Cutive Mono', monospace;
  font-size: 0.9vw;
}

.row3 p a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  
}

