.loading-container {
    position: fixed;
    top: 40vh;
    width: 100%;
    background-color: rgba(176,208,239, 0.2); /* semi-transparent white background */
    background-blend-mode: difference;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* ensure it's on top */
}

.loading-text {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

