.marquee {
    flex: 1;
    height: 100%;
    display: flex;
    gap: 7rem;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    background-color: black;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    mix-blend-mode: difference;
      box-shadow: 0px 0px 1px 0px black;

}


/*
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 5vw;
  height: 100%;
  content: "";
  z-index: 4;
}

.marquee:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.marquee:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
*/

.logo-slide {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
    min-width: 100%;
    animation: 30s slide infinite linear;
}

.logo-slide img {
  height: calc(0.25 * 100vw * var(--letter-height-as-ratio-of-width));
  display: inline-block;
  opacity: 100%;
  filter: invert(1);
    mix-blend-mode: difference;
    mix-blend-mode: hard-light;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 7rem));
  }
}

.logo-slide .woesum-logo {
  height: calc(0.4 * 100vw * var(--letter-height-as-ratio-of-width));
}

.logo-slide .yung-lean-logo {
  height: calc(0.45 * 100vw * var(--letter-height-as-ratio-of-width));
}

.logo-slide .seretide-logo {
  height: calc(0.18 * 100vw * var(--letter-height-as-ratio-of-width));
}

.logo-slide .marky-b-logo {
  height: calc(0.19 * 100vw * var(--letter-height-as-ratio-of-width));
}

.logo-slide .kamixlo-logo {
  height: calc(0.3 * 100vw * var(--letter-height-as-ratio-of-width));
  margin-bottom: 1em;
}

.logo-slide .clouds-logo {
  height: calc(0.15 * 100vw * var(--letter-height-as-ratio-of-width));
}

.logo-slide .femi-logo {
  height: calc(0.37 * 100vw * var(--letter-height-as-ratio-of-width));
}

.logo-slide .oli-xl-logo {
  height: calc(0.19 * 100vw * var(--letter-height-as-ratio-of-width));
}

.logo-slide .doss-logo {
  height: calc(0.4 * 100vw * var(--letter-height-as-ratio-of-width));
}

.logo-slide .mechatok-logo {
  height: calc(0.15 * 100vw * var(--letter-height-as-ratio-of-width));
}

