.marquee {
    position: fixed;
    display: flex;
    gap: 2rem;
    margin-top: 52.5vh;
    overflow: hidden;
    padding: 7.9vh 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 3;
}

.logo-slide {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    min-width: 100%;
    animation: 8s slide infinite linear;
}

.logo-slide img {
  display: inline-block;
  height: 9vh;
  margin: 0 50px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}
