.navbar {
    position: fixed;
    margin: 0 calc(100% * var(--margin-as-ratio-of-width));
    width: calc(100% - 100% * 2 * var(--margin-as-ratio-of-width));
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row; /* Stack left vertically */
    gap: calc(100% * var(--gap-as-ratio-of-width));

    background-color: white;
}

.left, .right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.empty {
    height: 1.3em;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid;
}

button {
    padding: 0  !important;
    margin-bottom: 0.3em;
    background-color: white;
    border: none;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 0rem;
    text-transform: uppercase;
}

button:hover {
    cursor: crosshair;
    color: #b0d0ef;
    text-decoration: line-through 1px;
    text-decoration-color: black;
}

