.collage-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.vertical-columns-container, .horizontal-row-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 15px;
    /* background-color: rgba(255, 0, 0, 0.2); */
}

.vertical-columns-container {
    justify-content: space-between;
}

.horizontal-row-container {
    flex-direction: row;
}

.horizontal-row-container::before {
    content: '';
    flex: 1;
}

.column {
    flex: 1; 
    flex-direction: column;
    /* background-color: rgba(255, 0, 0, 0.2); */
}

img {
    max-width: 100%;  /* Ensures image does not grow larger than the container */
    height: auto;     /* Maintains aspect ratio */
}

