.collage-container {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.vertical-columns-container, .horizontal-row-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-left: 90px;
    margin-right: 90px;
    /* background-color: rgba(255, 0, 0, 0.2); */
}

.vertical-columns-container {
}

.horizontal-row-container {
    max-width: 100%;
    flex-direction: column;
    /* background-color: rgba(255, 0, 0, 0.2); */
}

.column {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 0, 0, 0.2); */
}

.row {
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    /* background-color: rgba(255, 0, 0, 0.2); */
}

.row img {
    flex: 1 1 0;
    overflow: hidden;
}

.column img {
    max-width: 100%;  /* Ensures image does not grow larger than the container */
    height: auto;     /* Maintains aspect ratio */
}

.invisible-element {
    opacity: 0;               /* Make it transparent */
    pointer-events: none;     /* Make it non-interactable */
    flex: 1;                  /* Make it take up an equal amount of space as the images */
}

#empty-screen-1 {
    margin-top: calc(100vw * 35/680);
}
