.collage-container {
    margin-left: calc(100vw * var(--margin-as-ratio-of-width));
    margin-right: calc(100vw * var(--margin-as-ratio-of-width));
    position: relative;
    overflow: auto;
}

.background {
      position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .6;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.photo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(100vw * var(--letter-height-as-ratio-of-width));
    perspective: 10px;
    transform-style: preserve-3d;
}

.columns {
    display: flex;
    justify-content: space-between;
    gap: calc(100% * var(--gap-as-ratio-of-width));
    /* background-color: rgba(255, 0, 0, 0.2); */
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calc(200% * var(--gap-as-ratio-of-width));
    gap: 15px; /* TODO!!! Figure out why top not working */
    /* background-color: rgba(255, 0, 0, 0.1); */ 
}

.column img {
    width: 100%;
    max-width: 100%;
}

.row {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(100% * var(--gap-as-ratio-of-width));
}

.row img {
    min-width: 0;
    flex: 1;
}

.invisible-element {
    opacity: 0;               /* Make it transparent */
    pointer-events: none;     /* Make it non-interactable */
    flex: 1;                  /* Make it take up an equal amount of space as the images */
}
