.poster-marquee {
    flex: 1;
    height: 100%;
    display: flex;
    gap: 10rem;
    overflow: hidden;
}


/*
.poster-marquee:before,
.poster-marquee:after {
  position: absolute;
  top: 0;
  width: 5vw;
  height: 100%;
  content: "";
  z-index: 4;
}

.poster-marquee:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.poster-marquee:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
*/

.poster-slide {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    min-width: 100%;
    animation: 180s slide-right infinite linear;
}

.poster-slide img {
  height: 80%;
  width: auto;
  display: inline-block;
  margin: 50px;
  border: 5px solid black;
}

@keyframes slide-right {
  from {
    transform: translateX(calc(-100% + 10rem));
  }
  to {
    transform: translateX(0);
  }
}

