.simple-footer {
  display: flex;
  align-items: stretch;
  gap: 5px;
  bottom: 0;
  /* width: calc(100vw - 200vw * var(--margin-as-ratio-of-width)); */
  background-color: black;
  opacity: 90%;
  filter: invert(1);
}

@media screen and (max-width: 767px) {
  .simple-footer {
    width: calc(100vw);
    margin-left: calc(-100vw * var(--margin-as-ratio-of-width));
    margin-right: calc(-100vw * var(--margin-as-ratio-of-width));
  }
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: invert(100%);
  opacity: 90%;
}

.footer-item img {
  height: 45%;
}

#item-a {
  /* Does not grow, shrinks as needed, based on content */
  flex: 0 1 auto;
  justify-content: flex-start; /* left align */
  /* margin-left: 0.7%; */
  height: 25px;
  width: auto;
}

#item-b {
  /* Grows and shrinks as needed, takes available space */
  flex: 1 1 auto;
  height: 4px;
  align-items: flex-start;
  margin-top: 7px;
}

#item-c {
  /* Does not grow, shrinks as needed, based on content */
  flex: 0 1 auto;
  justify-content: flex-end; /* right-aligned */
  /* margin-right: 0.7%; */
  height: 25px;
  width: auto;
}
