/* Add this CSS to your component's stylesheet (e.g., Table.css) */

table {
  width: 100%; 
  border-collapse: collapse; /* Collapse borders so that they don't double up */
  font-family: 'Cutive Mono', monospace;
}

th, td {
  min-width: 115px;
  border: 1px solid black;
  border-left: none;
  padding: 8px; 
  text-align: left; 
}

th {
  position: relative; 
  padding-right: 20px; /* Add padding to reserve space for the sort indicator */
  border-top: none;
}

thead {
  position: sticky;
  margin-bottom: 50px;
  top: 0; /* Adjust if your table header needs to be below some other fixed content */
  z-index: 100; /* Ensures the header is above other content when scrolling */
}

thead th {
  background-color: #f2f2f2;
  font-weight: normal;
  cursor: crosshair;
}

tbody tr {
  cursor: crosshair; 
}

tbody tr:hover {
  background-color: rgba(176,208,239, 0.2);
}

.sort-indicator {
  position: absolute;
  right: 8px; /* Position the arrow 8px from the right edge of the header cell */
  top: 40%;
  transform: translateY(-50%); /* Center the arrow vertically */
  width: 12px; /* Reserve space for the arrow */
  height: 1em; /* Ensure the line height is the same as the text */
  text-align: center;
  font-weight: normal;
}

.sort-ascending::after {
  content: '⭡'; /* Unicode for the up arrow */
}

.sort-descending::after {
  content: '⭣'; 
}


