table {
  width: 100%; 
  border-collapse: collapse; /* Collapse borders so that they don't double up */
      font-family: 'SourceCodePro', monospace;
      font-weight: 300;
}

th, td {
  border: 1px solid black;
  border-left: none;
  padding: 8px; 
  text-align: left; 
}

th {
  border-top: none;
}

.table-header-cell {
    display: flex;
    justify-content: space-between;
}

thead th {
  background-color: #f2f2f2;
  font-weight: normal;
  cursor: crosshair;
}

tbody tr {
  cursor: crosshair; 
}

tbody tr:hover {
  background-color: rgba(176,208,239, 0.2);
}

.sort-ascending::after {
  content: '↑'; 
}

.sort-descending::after {
  content: '↓'; 
}


