:root {
  --title-aspect-ratio: 0.16;
  --margin-as-ratio-of-width: 0.05534736966;
  --gap-as-ratio-of-width: 0.00882352941;
}


.main {
  background-color: white;
}

.title-svg {
    display: block; /* Remove inline behavior */
    position: fixed;
    top: calc(50vh - var(--title-aspect-ratio) * 100%);
    left: 0;
    width: 100%;
    z-index: 99;
    mix-blend-mode: difference;
}

.title-svg img {
  width: 100%;
  mix-blend-mode: difference;
}

.background {
}

.navbar {
    position: fixed;
    margin-left: calc(100% * var(--margin-as-ratio-of-width));
    width: calc(50% - 100% * var(--margin-as-ratio-of-width));
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start; 
    justify-content: space-between; /* Center items horizontally */
    flex-direction: row; /* Stack buttons vertically */
}

.navbar button {
    width: calc(100% * 0.34);
    margin: calc(100% * 2 * var(--gap-as-ratio-of-width)) 0;
    padding: 10px 20px; /* Padding for the buttons */
    background-color: white; /* Button background color */
    border: none;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: none; /* Button hover effect */
    color: #8ebcf2;
    text-decoration: underline;
}


.footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.footer-logo {
    max-width: 200px; 
    height: auto; 
}
