:root {
  --navbar-height: 2.95em;
  --title-aspect-ratio: 0.16;
  --diy-ratio: 0.29;
  --vertical-midpoint-as-ratio-of-width: 0.141;
  --margin-as-ratio-of-width: 0.0545;
  --gap-as-ratio-of-width: 0.00882352941;
  --letter-width-as-ratio-of-width: 0.112;
  --letter-height-as-ratio-of-width: 0.126;
  --line-width-ratio: 0.0262795664;
  --light-blue-accent: #b0d0ef;
  --mobile-navbar-width: 10lvw;
  --desktop-navbar-height: 3em;
}

/*
@font-face {
  font-family: 'Charter';
  src: local('Charter'), local('Charter-Regular'),
  url('./assets/fonts/charter-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: "SourceCodePro";
  src: url("./assets/fonts/SourceCodePro-Regular.ttf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("./assets/fonts/SourceCodePro-Light.ttf.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "SourceCodePro", monospace;
  font-size: 28px;
  font-weight: 300;
}

h1 {
  text-transform: uppercase;
  font-size: 100px;
}

h2 {
  font-size: 2.5em;
  font-weight: 300;
}

.site-container {
  background-color: white;
}

main {
  position: absolute;
  background-color: white;
}

/* .site-container.mobile.menu-open main {
  margin-left: calc(var(--mobile-navbar-width));
} */

/* scrollbar stuff */

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: #e7f0fa; /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background: black; /* color of the scroll thumb */
}
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}

/* For Firefox */
* {
  scrollbar-width: auto; /* "auto" or "thin" */
  scrollbar-color: black #e7f0fa; /* thumb and track color */
}

/* Media query for mobile screens, typically less than 768px */
@media screen and (max-width: 767px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
}
