body {
  scroll-behavior: smooth;
}

canvas {
  touch-action: none;
  /* animation: fade-in 1.5s ease 0.5s forwards; */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-text: #f0f0f0;
  --color-bg: #101014;
  --color-link: #818798;
  --color-link-hover: #fff;
  --color-title: #7f7f8f;
  --color-year: #b9b3af;
  --img-ratio: 1.3;
  --s: 1;
}

.grid-mobile {
  margin-top: 80lvh;
  margin-bottom: 100vh;
  /* margin-left: 10.5%;
  margin-right: 10.5%; */
  display: grid;
  position: relative;
  grid-row-gap: 15%;
}

.grid__item {
  position: relative;
  place-items: center;
  margin: 0;
  opacity: 100%;
}

.grid__item-img {
  position: relative;
  overflow: hidden;
  display: grid;
  width: 100%;
  height: auto;
  aspect-ratio: var(--img-ratio);
  aspect-ratio: 1;
  /* box-shadow: -1px -1px 3px 1px darkblue; */
}

.grid__item-img-inner {
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  position: relative;
  opacity: 90%;
}

.grid__item-caption {
  position: absolute;
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.grid__item-caption h3 {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  color: var(--color-title);
}

.grid__item-caption span {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-year);
}
